<%- include('includes/header') %>
<%- include('includes/nav-dashboard') %>
<div class="content-wrap">
	<main>
      <h1>Units of blood available</h1>
	  <table class="customers">
		
		<tr>
			<th>A+</th>
			<!--<th>A-</th>
			<th>B+</th>
			<th>B-</th>
			<th>O+</th>
			<th>O-</th>
			<th>AB+</th>
			<th>AB-</th>-->
			
		</tr>
		<tr>
			<tr><%= BloodBank.A_Positive %></tr>
			<!--<tr><%= BloodBank.A_Negative %></tr>
			<tr><%= BloodBank.B_Positive %></tr>
			<tr><%= BloodBank.B_Negative %></tr>
			<tr><%= BloodBank.O_Positive %></tr>
			<tr><%= BloodBank.O_Negative %></tr>
			<tr><%= BloodBank.AB_Positive %></tr>
			<tr><%= BloodBank.AB_Negative %></tr>-->
			

			
		</tr>

	</main>
</div>
<%- include('includes/footer') %>
            