
<%- include('includes/header') %>
<%- include('includes/nav-main') %>
<%
  if(typeof(userData) == 'undefined'){
    userData = {};
    userData.name = '';
    userData.phone = ''; 
    userData.mouseqty = 0; 
    userData.pencilqty = 0; 
    userData.lampqty = 0; 
    userData.receiptHtml = '';
  }
%>
<div class="content-wrap">
    <form name="myform" method="Post" onsubmit="return formSubmit();"  action="/checkout" >
        <div class="ordercontainer"> 
            <div class="card">
                <img src="/images/mouse.jpg" alt="Mouse" style="width:100%; height: 210px;">
                <input class="product" id="mouse" value="Mouse" type="text" name="mouse" readonly><br/>
                <input class="price" id="mouseprice" value="$17.5" type="text" name="mouseprice" readonly><br/>
                <input class="txtinput" id="mouseqty" value="<%= userData.mouseqty %>" type="number" name="mouseqty" placeholder="Enter Quantity"><br/>
            </div>
            <div class="card">
                <img src="/images/pencil.jpg" alt="Pencil" style="width:100%; height: 210px;">
                <input class="product" id="pencil" value="Pencil" type="text" name="pencil" readonly><br/>
                <input class="price" id="price2" value="$34.99" type="text" name="pencilprice" readonly><br/>
                <input class="txtinput" id="pencilqty" value="<%= userData.pencilqty %>" type="number" name="pencilqty" placeholder="Enter Quantity"><br/>
            </div>
            <div class="card">
                <img src="/images/lamp.jpg" alt="Lamp" style="width:100%; height: 210px;">
                <input class="product" id="lamp" value="Lamp" type="text" name="lamp" readonly><br/>
                <input class="price" id="price3" value="$24.5" type="text" name="lampprice" readonly><br/>
                <input class="txtinput" id="lampqty" value="<%= userData.lampqty %>" type="number" name="lampqty" placeholder="Enter Quantity"><br/>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-25">
                    <label>Name</label>
                </div>
                <div class="col-75">
                    <input id="name" value="<%= userData.name %>" class="txtinput" placeholder="First Last" type="text" name="name"><br/>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Phone</label>
                </div>
                <div class="col-75">
                    <input id="phone" value="<%= userData.phone %>" class="txtinput" placeholder="123-123-1234" type="phone" name="phone"><br/>
                </div>
            </div>
       </div>
        <div class="submit">
            <input type="submit" value="Submit" class="button">
            <p id="errors"></p>
        </div>
    </form>
    <div class="formData">
          <p id="formResult">
            <%
              if(typeof(errors) != 'undefined'){
                for(error of errors){
                  %>
                  <%= error.msg %><br>
                  <%
                }
              }
              
            %>
          </p>
    </div>
</div>
<%- include('includes/footer') %>
            