<%- include('includes/header.ejs') %>

<main>
    <h1>Orders</h1>
    <table class="customer">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>phone</th>
            <th>Address</th>
            <th>City</th> 
            <th>Province</th> 
            <th>High-Back Office Chair</th> 
            <th>HOMCOM Office Chair</th>
            <th>Bonded Leather Mid-Back</th>
            <th>SubTotal</th> 
            <th>Tax</th> 
            <th>Total</th> 
        </tr>
        <%
        for(order of orders)
        {
        %>
            <tr>
                <td><%= order.name %></td>
                <td><%= order.email %></td>
                <td><%= order.phone %></td>
                <td><%= order.address %></td>
                <td><%= order.city %></td>
                <td><%= order.province %></td>
                <td><%= order.qty1 %></td>
                <td><%= order.qty2 %></td>
                <td><%= order.qty3 %></td>
                <td><%= order.subTotal %></td>
                <td><%= order.taxTotal %></td>
                <td><%= order.total %></td>
            </tr>
        <%
        }       
        %>
    </table>
   </table>
</main>



<%- include('includes/footer.ejs') %>