<%- include('includes/header.ejs') %>

<main>
    <h1>Receipt</h1>
    <table class="customer">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>phone</th>
            <th>Address</th>
            <th>City</th> 
            <th>Province</th> 
        </tr>
        <tr>
            <td><%= name %></td>
            <td><%= email %></td>
            <td><%= phone %></td>
            <td><%= address %></td>
            <td><%= city %></td>
            <td><%= province %></td>
        </tr>
    </table>
    <br/><br/>
    <table class="salereceipt">
        <%
        if(qty1 != 0 || qty2 != 0 || qty3 != 0){ %>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>SubTotal</th>
            </tr>
        <% }
        %>
        <%
        if(qty1 != 0){ %>
            <tr>
                <td><%= item1 %></td>
                <td><%= price1 %></td>
                <td><%= qty1 %></td>
                <td><%= price1 * qty1 %></td>
            </tr>
        <% }
        %>
        <%
        if(qty2 != 0){ %>
            <tr>
                <td><%= item2 %></td>
                <td><%= price2 %></td>
                <td><%= qty2 %></td>
                <td><%= price2 * qty2 %></td>
            </tr>
        <% }
        %>
        <%
        if(qty3 != 0){ %>
            <tr>
                <td><%= item3 %></td>
                <td><%= price3 %></td>
                <td><%= qty3 %></td>
                <td><%= price3 * qty3 %></td>
            </tr>
        <% }
        %>
        <%
        if(qty1 != 0 || qty2 != 0 || qty3 != 0){ %>
            <tr>
                <td></td>
                <td></td>
                <td>SubTotal</td>
                <td><%= subTotal %></td>
            </tr>
        <% }
        %>
        <%
        if(qty1 != 0 || qty2 != 0 || qty3 != 0){ %>
            <tr>
                <td></td>
                <td></td>
                <td>Tax</td>
                <td><%= taxTotal %></td>
            </tr>
        <% }
        %>
        <%
        if(qty1 != 0 || qty2 != 0 || qty3 != 0){ %>
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td><%= total %></td>
            </tr>
        <% }
        %>
    </table>
</main>



<%- include('includes/footer.ejs') %>