<%- include('includes/header') %> 
<nav>
  <ul class="nav d-flex">
    <li><a href="/bloodbankhome">Home</a></li>
    <li><a href="/userAppointments">Appointments</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav> 
<div class="content-wrap">
  <main>
    <% for(bloodbank of bloodbanks) { %>
    <div class="DivContainer">
      <div class="cardAppointment">
        <div class="container">
          <div class="nameOfBloodBank"><%= bloodbank.name %></div>
          <div class="address">
            <%= bloodbank.address1 %> 
            <%- '<br>'  %>
            <%= bloodbank.city
            %>, <%= bloodbank.province %>, <%= bloodbank.postalCode.toUpperCase() %>
            <%- '<br>'  %>

            <!-- <button class="button"> Directions </button> -->

            <a href="/select/<%= bloodbank._id %>" class="button"> Select Date for booking </a>


            <!-- http://maps.google.com/maps?daddr=94%20Bridgeport%20Rd%20E%2C%20Waterloo%2C%20ON%2C%20N2J%202J9%2C%20Canada -->

          </div>
        </div>
      </div>
    </div>
    <% } %>
  </main>
</div>
<%- include('includes/footer') %>


