<%- include('includes/header') %>
<nav>
    <ul class="nav d-flex">
      <li><a href="/bloodbankhome">Home</a></li>
      <li><a href="/userAppointments">Appointments</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</nav> 
<div class="content-wrap">
	<main>
    <h1>Appointments:</h1>
    <table class="customers">
      <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Appointment date and time</th>
          
      </tr>
      <%
      for(bloodbank of appointments)
      {
      %>
          <tr>
              <td><%= bloodbank.username %></td>
              <td><%= bloodbank.bloodbankaddress1 %> <%= bloodbank.bloodbankcity %>
                  <%= bloodbank.bloodbankprovince %> <%= bloodbank.bloodbankpostalCode %> 
              </td>
              <td><%= bloodbank.bloodbankemail %></td>
              <td><%= bloodbank.bloodbankpnone %></td>
              <td><%= bloodbank.bookingdate %></td>
              
          </tr>
      <%
      }       
      %>
    </table>
	</main>
</div>
<%- include('includes/footer') %>